.wrapper {
  position: relative;
  min-height: 100%;  
  }

.row {
  margin-top: 0.5rem;
}

.cover {
  object-fit: cover;
}

#navbar-narrow {
  padding: 0.5rem 1rem;
}

/* The styles for the parallax */
.hero {
  position: relative;
  height: 650px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../assets/olympicparade.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  }
  
  .hero h1 {
  margin-top: 250px;
  font-size: 7.5rem;
  }
  
  .hero p {
  font-size: 2rem;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
  }

  /* Form control? */


/* Choropleth */
.info { 
  padding: 4px 4px; 
  font: 12px/14px Arial, Helvetica, sans-serif; 
  background: white; 
  background: rgba(255,255,255,0.8); 
  box-shadow: 0 0 15px rgba(0,0,0,0.2); 
  border-radius: 5px; 
} 
.info h5 { 
  /* margin: 0 0 5px;  */
  color: #777; 
}
.legend { 
  text-align: left; 
  line-height: 18px; 
  color: #555; 
} 
.legend i { 
  width: 18px; 
  height: 18px; 
  float: left; 
  margin-right: 8px; 
  opacity: 0.7; 
}

  /* D3 Styles */
  .active {
    font-weight: bold;
    fill: #000;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-weight: lighter;
    fill: #c9c9c9;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive:hover {
    fill: #000;
    cursor: pointer;
  }

  .circle {
    stroke: #b5b5b5;
  }

  .tooltip {
    position: absolute;
    width: 135px;
    height: 60px;
    padding: 2px;
    padding-top: 8px;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: #f7f7f9;
    border: 0;
    border-radius: 10px;
  }
    
  .d3-tip {
    padding: 6px;
    font-size: 12px;
    line-height: 1;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
  }  

