.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  
  }

.row {
  margin-top: 0.5rem;
}

/* The styles for the parallax */
.hero {
  position: relative;
  height: 650px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../assets/olympicparade.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  }
  
  .hero h1 {
  margin-top: 250px;
  font-size: 7.5rem;
  }
  
  .hero p {
  font-size: 2rem;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
  }

  /* Form control? */